@media screen and (max-width: 1260px) {
  .ShoppingKartt {
    overflow: hidden;
  }
  header {
    overflow: hidden;
  }
}
@media screen and (max-width: 660px) and (min-width: 490px) {
  header {
    height: 75px;
  }
}
@media screen and (max-width: 490px) {
  header {
    height: 108px;
  }
  .search {
    grid-column: 1/3;
  }
  .search input {
    width: 68vw;
  }
}
@media screen and (min-width: 490px) and (max-width: 660px) {
  .search input {
    width: 34vw;
  }
}
